<section class="deathPage skulls container">
  <div class="text-container">
    <h4 class="text-typewriter">
      Too bad, so sad. Struck down in your prime.
    </h4>
    <img
      src="/images/deathPage-background.png"
      class="zoomer death-image-size"
    />
    <p class="death-question">You sure you don't want to try again?</p>
    <div class="button">
      <button id="again" class="death-button slideLeft">Fine.</button>
      <button id="leave" class="death-button slideRight">No.</button>
    </div>
  </div>
</section>
<script src="/js/death.js"></script>

