
  <body>
    <section class="deathPage skulls">
      <div class="typewriter">
        <h4>
          {{story_text}}
        </h4>
        <img
          src="/images/deathPage-background.png"
          class="zoomer death-image-size" />
        <p>Would you like to try again?</p>
        <div class="death-button-container">
          <button>{{choice_A}}</button>
          <button>{{choice_B}}</button>
        </div>
      </div>
    </section>
  </body>
</html>
