<section class="deathPage">
  <div class="skulls typewriter">
    <h4>Uh oh! Looks like you made the wrong choice
      Would you like to try again?
    </h4>
    <div class="death-button-container">
      <button>Try Again?</button>
    </div>
  </div>
</section>