
  <body>
    <section class="deathPage skulls">
      <div class="typewriter">
        <h4>Uh oh! Looks like you <br />made the wrong choice</h4>

        <img
          src="/images/deathPage-background.png"
          class="zoomer death-image-size" />
        <p>Would you like to try again?</p>
        <div class="death-button-container">
          <button>Try Again?</button>
        </div>
      </div>
    </section>
  </body>
</html>
