  <body>
    <header class="profile-header">
      <h1>The Escape Room</h1>
    </header>

    <div class="profile-container">
      <section class="form-container text-white">
        <form>
          <h3 class="text-white text-center pt-5 mt-5">
            Welcome new adventurers
          </h3>
          <p class="text-center">Create your username and password below</p>
          <div class="row mb-3 justify-content-center">
            <label
              for="inputEmail3"
              class="text-center col-5 col-sm-2 col-form-label pt-5"
              >Enter your username</label
            >
            <div class="row d-flex justify-content-center">
              <div class="justify-content-center col-5">
                <input
                  placeholder="username"
                  type="email"
                  class="text-center form-control"
                  id="inputEmail3" />
              </div>
            </div>
          </div>

          <div class="row mb-3 justify-content-center pt-2 mt-2">
            <label for="inputPassword3" class="text-center col-form-label"
              >Password</label
            >
            <div class="row d-flex justify-content-center">
              <div class="justify-content-center col-5">
                <input
                  placeholder="password"
                  type="password"
                  class="text-center form-control"
                  id="inputPassword3" />
              </div>
            </div>
          </div>

          <div class="row mb-3 text-center">
            <div class="col-sm-12"></div>
          </div>

          <div class="row mb-3 text-center">
            <div class="col-sm-12">
              <!-- Added a row with 12 columns for spacing -->
              <button
                type="submit"
                class="btn btn-primary justify-contetnt-center">
                Sign in
              </button>
            </div>
          </div>
        </form>
      </section>

      <section class="form-container text-white">
        <form>
          <h3 class="text-white text-center pt-5 mt-5">
            Welcome returning adventurers
          </h3>
          <div class="row mb-3 justify-content-center">
            <label
              for="inputEmail3"
              class="text-center col-5 col-sm-2 col-form-label pt-5"
              >Enter your username</label
            >
            <div class="row d-flex justify-content-center">
              <div class="justify-content-center col-5">
                <input
                  placeholder="username"
                  type="email"
                  class="text-center form-control"
                  id="inputEmail3" />
              </div>
            </div>
          </div>

          <div class="row mb-3 justify-content-center pt-2 mt-2">
            <label for="inputPassword3" class="text-center col-form-label"
              >Password</label
            >
            <div class="row d-flex justify-content-center">
              <div class="justify-content-center col-5">
                <input
                  placeholder="password"
                  type="password"
                  class="text-center form-control"
                  id="inputPassword3" />
              </div>
            </div>
          </div>

          <div class="row mb-3 text-center">
            <div class="col-sm-12"></div>
          </div>

          <div class="row mb-3 text-center">
            <div class="col-sm-12">
              <!-- Added a row with 12 columns for spacing -->
              <button
                type="submit"
                class="btn btn-primary justify-contetnt-center">
                Sign in
              </button>
            </div>
          </div>
        </form>
      </section>
    </div>