    <header class="profile-header">
      <h1>The Escape Room</h1>
    </header>

    <div class="container">
      <section class="custom-border form-container text-white mt-5">
        <form>
          <div class="row justify-content-center text-center">
            <h3 class="mt-5">Welcome new adventurers</h3>
            <p>Create your username and password below</p>
          </div>

          <div class="container">
            <div class="row justify-content-start text-center">
              <div class="col-7">
                <label for="inputEmail3" class="col-form-label"
                  >Enter your username</label
                >

                <div class="justify-content-center">
                  <input
                    placeholder="username"
                    type="email"
                    class="text-center form-control"
                    id="inputEmail3" />
                </div>
              </div>
            </div>

            <div class="row justify-content-start text-center">
              <div class="col-7 text-center">
                <label for="inputPassword3" class="col-form-label"
                  >create a Password</label
                >
                <div class="justify-content-center">
                  <input
                    placeholder="password"
                    type="password"
                    class="text-center form-control"
                    id="inputPassword3" />
                </div>
              </div>

              <img
                class="custom-password-image"
                src="./public/css/images/password-img.jpg"
                alt="password icon" />
            </div>

            <div class="row mb-3 text-center just">
              <div class="col-sm-12">
                <button
                  type="submit"
                  class="btn btn-primary justify-contetnt-center">
                  Sign in
                </button>
              </div>
            </div>
          </div>
        </form>
      </section>


      <div class="container">
        <section class="custom-border form-container text-white mt-5">
          <form>
            <div class="row justify-content-center text-center">
              <h3 class="mt-5">Welcome new adventurers</h3>
              <p>Create your username and password below</p>
            </div>
  
            <div class="container">
              <div class="row justify-content-start text-center">
                <div class="col-7">
                  <label for="inputEmail3" class="col-form-label"
                    >Enter your username</label
                  >
  
                  <div class="justify-content-center">
                    <input
                      placeholder="username"
                      type="email"
                      class="text-center form-control"
                      id="inputEmail3" />
                  </div>
                </div>
              </div>
  
              <div class="row justify-content-start text-center">
                <div class="col-7 text-center">
                  <label for="inputPassword3" class="col-form-label"
                    >create a Password</label
                  >
                  <div class="justify-content-center">
                    <input
                      placeholder="password"
                      type="password"
                      class="text-center form-control"
                      id="inputPassword3" />
                  </div>
                </div>
  
                <img
                  class="custom-password-image"
                  src="./public/css/images/begin-adventure.jpg"
                  alt="password icon" />
              </div>
  
              <div class="row mb-3 text-center just">
                <div class="col-sm-12">
                  <button
                    type="submit"
                    class="btn btn-primary justify-contetnt-center">
                    Sign in
                  </button>
                </div>
              </div>
            </div>
          </form>
        </section>
    </div>
