<section class="story-container">
  <div class="text-container">
    <h4 class="text-typewriter">
      {{story_text}}
    </h4>
  </div>
  <div class="storyImage-container">
    <div class="choices">
      <button id="choiceA" class="fadeIn">{{choice_A}}</button>
    </div>
    <div class="choices">
      <button id="choiceB" class="fadeIn">{{choice_B}}</button>
    </div>
  </div>
</section>
<script src="/js/story.js"></script>