<section class="story-container">
  <div class="typewriter">
    <h4>
      {{story_text}}
    </h4>
  </div>
  <div class="storyImage-container">
    <div class="choices">
      <img src="/images/projectwindow.jpg" class="slideRight death-image-size" />
      <button id="choiceA"class="fadeIn">{{choice_A}}</button>
    </div>
    <div class="choices">
      <img src="/images/projectstairs.jpg" class="SlideLeft death-image-size" />
      <button id="choiceB" class="fadeIn">{{choice_B}}</button>
    </div>
  </div>
</section>
<script src="/js/story.js"></script>