<section class="story-container">
  <div class="typewriter">
    <h4>
      {{story_text}}
    </h4>
  </div>
  <div class="storyImage-container">
    <div class="choices">
      <img src="/images/projectwindow.jpg" class="zoomer death-image-size" />
      <button>{{choice_A}}Place holder text</button>
    </div>
    <div class="choices">
      <img src="/images/projectstairs.jpg" class="zoomer death-image-size" />
      <button>{{choice_B}}Place holder text</button>
    </div>
  </div>
</section>

