<section class="winnerPage trophies">
  <div class="typewriter winner-container">
    <h4 id="winnerType"> 
      {{story_text}}
    </h4>

    <img
      class="pulse winnerImage"
      src= "/images/trophy.jpg"
    />

    <div class="highPage">
      <table id="winnercolor">
        <tbody>
          <tr>
            <td>Your Death Count:</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      <br/>
      <div class="button">
        <button>{{choice_A}}</button>
        <button>{{choice_B}}</button>
      </div>
    </div>
  </div>
</section>