<section class="winnerPage trophies">
  <div class="typewriter winner-container">
    <h4 id="winnerType"> 
      {{story_text}}
    </h4>

    <img
      class="pulse winnerImage"
      src= {{image_id}}
    />

    <div class="highPage">
      <h1>Your Score</h1>
      <table id="winnercolor">
        <thead>
          <tr>
            <th>Your Time:</th>
            <td>0</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>other player:</td>
            <td>0</td>
          </tr>
          <tr>
            <td>other player:</td>
            <td>0</td>
          </tr>
          <tr>
            <td>other player:</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      <div class="death-button-container">
        <button>{{choice_A}}</button>
        <button>{{choice_B}}</button>
      </div>
    </div>
  </div>
</section>