<section class="winnerPage trophies">
  <div class="typewriter winner-container">
    <h4 id="winnerType"> 
      Congratulations!!! You managed to get out alive.
    </h4>

    <img
      class="pulse winnerImage"
      src= "/images/trophy.jpg"
    />

    <div class="highPage">
      {{!-- <table id="winnercolor">
        <tbody>
          <tr>
            <td>Your Death Count:</td>
            <td>0</td>
          </tr>
        </tbody>
      </table> --}}
      <br/>
      <div class="button">
        <button>Home</button>
      </div>
    </div>
  </div>
</section>
<script src="/js/win.js"></script>