  <body>
    <section class="deathPage skulls">
      <div class="typewriter">
        <h4>Congratulations! <br />You made it through <br />successfully!</h4>

        <img
          src="/images/vecteezy_gold-trophy-vector-illustration_.jpg"
          class="zoomer death-image-size" />

          <div class="highPage">
    <h1>Your Score</h1>
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
        <tr>
          <td>0</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="death-button-container">
          <button>Try Again?</button>
        </div>
  </div>
</div>
    </section>
  </body>
</html>