/*death page */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background: black;
  font-family: "Press Start 2P", monospace, cursive;
}

.profile-header {
  height: 250px;
  background-image: url("images/vecteezy_empty-night-room-background-dark-vector-apartment_13504181.jpg");
  background-size: cover;
  background-position: 100% 80%;
  background-repeat: no-repeat;
  color: white;
  font-family: "Press Start 2P", monospace, cursive;
  display: flex;
}

.profile-header h1 {
  margin: auto;
  font-size: 50px;
}



.deathPage {
  display: flex;
  color: rgb(75, 5, 107);
  font-size: 21px;
  line-height: 1.5;
  padding: 32px 16px;
  max-width: 960px;
  font-family: "Press Start 2P", monospace, cursive;
  justify-content: center;
  align-items: center;
}

.death-image-size {
  max-width: 450px;
  display: block;
  margin: auto;
}

.death-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

/* .deathPage h1 {
  text-align: center;
} */

.typewriter h4 {
  color: #896a92;
  font-family: "Press Start 2P", monospace, cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /*Keeps the content on a single line*/
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  text-align: center;
}

.typewriter p {
  margin: 20px;
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.skulls {
  position: relative;
  padding: 16px 0 24px;
  max-width: 600px;
  margin: 30px 100px;
  border: 24px solid;
  border-image: url(https://skullctf.com/images/skull-9.svg) 24 round;
}
